@charset "utf-8";
/* CSS Document */

*
{
	margin:0;
	padding:0;
}
#login-form
{
	margin-top:70px;
	margin-left:170px;
}
table
{
	border:solid #dcdcdc 1px;
	padding:25px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
}
table tr,td
{
	padding:15px;
	
}
table tr td input
{
	width:97%;
	height:45px;
	border:solid #e1e1e1 1px;
	border-radius:3px;
	padding-left:10px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	background:#f9f9f9;
	transition-duration:0.5s;
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.4);
}

table tr td button
{
	width:100%;
	height:45px;
	border:0px;
	background:rgba(12,45,78,11);
	background:-moz-linear-gradient(top, #595959 , #515151);
	border-radius:3px;
	box-shadow: 1px 1px 1px rgba(1,0,0,0.2);
	color:#f9f9f9;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:bolder;
	text-transform:uppercase;
}
table tr td button:active
{
	position:relative;
	top:1px;
}
table tr td a
{
	text-decoration:none;
	color:#00a2d1;
	font-family:Verdana, Geneva, sans-serif;
	font-size:15px;
}

/* css for home page  */

*
{
	margin:0;
	padding:0;
}
#header
{
	width:100%;
	height:60px;
	background:rgba(00,11,22,33);
	color:#9fa8b0;
	font-family:Verdana, Geneva, sans-serif;
}
#header #left
{
	float:left;
	position:relative;
}
#header #left label
{
	position:relative;
	top:5px;
	left:100px;
	font-size:35px;
}
#header #right
{
	float:right;
	position:relative;
}
#header #right #content
{
	position:relative;
	top:20px;
	right:100px;
	color:#fff;
}
#header #right #content a
{
	color:#00a2d1;
}


#body
{
	text-align:center;
	margin-top:150px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:36px;
}


.cat-table
{
	border-collapse:collapse;
	padding:20px;
	border-color:#6d4c41 ;
	font-family:Tahoma, Geneva, sans-serif;	
	margin-bottom:20px;
	margin-top:20px;
	box-shadow: 0 1px 0 rgba(255,255,255,.5) inset ,0 -1px 0 rgba(255,255,255,.4) inset;
}

.cat-table tr, .cat-table tr td
{
	padding-top:5px;
	padding-bottom:0px;
	border:1px solid #6d4c41 ;
}

.exept-table tr input, .exept-table td input
{
	margin-top:0px;
	width:70px;
	height:20px;
	border:solid #e1e1e1 1px;
	border-radius:3px;	
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	background:#f9f9f9 ;
	transition-duration:0.5s;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
	margin-bottom:0px;	
}
.textbox{
	height:30px;
	width:250px;
}
.content
{
padding:50px;
width:400px; 
border:1px solid #666;
float:left;
text-align:justify;
}
.error{
	color:red;
}
