/* product display */

.p{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;	
	}
	


.containerp{
	width:100%;
	margin:0 auto;
	margin-bottom:70px;
	box-shadow: 5px 0px 10px -4px rgb(72, 69, 69) inset, -5px 0px 10px -4px rgb(72, 69, 69) inset;
	background-color:#fafafa;	
}



.body{
	width:1275px;
	margin:0 auto;
	margin-bottom:50px;	
	margin-top:20px;
}

.row{
	width:100%;
	display:flex;
	border-radius:5px;
}
.col-20{
	width:18%;
	float:left;
	padding-left:1%;
	padding-right:1%;
	padding-top:10px;
}
.prod h3{
	padding:8px;
	background:#8d6e63 ;
	box-shadow: 0 1px 0 rgba(255,255,255,.5) inset ,0 -1px 0 rgba(255,255,255,.4) inset;
	color:#FFF;
	text-align:right;
	font-size:16px;
}
@media(max-width:667px){
.col-20{
	width:98%;
	float:left;
	padding-left:1%;
	padding-right:1%;
}
}
.col-20 img{
	max-width:100%;
	padding:3px;
}

/* css for home page */

	
	