/* product display */


.container{
	width:1200px;
	margin:0 auto;
	margin-bottom:70px;
	box-shadow: 5px 0px 10px -4px rgb(72, 69, 69) , -5px 0px 10px -4px rgb(72, 69, 69) ;
	background-color:#fafafa;
	padding-left:20px;	
	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	
}



.body{
	width:1275px;
	margin:0 auto;
	margin-bottom:50px;	
	margin-top:50px;
}

.row{
	width:100%;
	display:flex;
	border-radius:5px;
	
 
}
.col-20{
	width:18%;
	float:left;
	padding-left:1%;
	padding-right:1%;
	padding-top:10px;
	border:1px solid #8d6e63 ;
	border-collapse:collapse;
	padding-bottom:10px;
	
}
.col-50{
	width:95%;
	float:left;
	padding-left:1%;
	padding-right:1%;
	padding-top:10px;
	border:1px solid #8d6e63 ;
	border-collapse:collapse;
	padding-bottom:10px;
	
}
.prod h3{
	padding:8px;
	background:#8d6e63 ;
	box-shadow: 0 1px 0 rgba(255,255,255,.5) inset ,0 -1px 0 rgba(255,255,255,.4) inset;
	color:#FFF;
	text-align:left;
	font-size:16px;

}

@media(max-width:667px){
.col-20{
	width:98%;
	float:left;
	padding-left:1%;
	padding-right:1%;
	border:1px solid #8d6e63  ;
	border-collapse:collapse;
}
}
.col-20 img{
	max-width:100%;
	padding:3px;
}

.special_row{
	width:38.20%;
	float:left;
	padding-left:1%;
	padding-right:1%;
	padding-top:10px;
	border:1px solid #8d6e63 ;
	border-collapse:collapse;
	padding-bottom:10px;	
	}
	
.product-table{
	padding:30px;
	border-collapse:collapse;
	box-shadow: 1px 1px 1px rgba(1,0,0,0.2);
	width:100%;
	
}
.product-table tr, .product-table tr td{
	border:1px solid #CCC
}

/* css for home page */

	
	